body{
    background-color: azure;
}
h1{
    background-color: blanchedalmond;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    color: brown;
}
table tr th{
    background-color: antiquewhite;
    padding: 10px;
}
table tr td{
    padding: 10px;
}
table tr{
    text-align: center;
    background-color: burlywood;
}
table tr:hover{
    background-color: rgb(211, 157, 211);
}
a{
    text-decoration: none;
}
#btn-edit{
    border-radius: 5px;
    background-color: yellow;
    padding: 5px 10px;
}
#btn-edit:hover{
    background-color: orange;
}
#btn-del{
    border-radius: 5px;
    background-color: red;
    padding: 5px 10px;
}
#btn-del:hover{
    background-color: olivedrab;
}
#btn-insert{
    display: block;
    float: right;
    background-color: aquamarine;
    padding: 10px 10px;
    border-radius: 5px;
}
form{
    max-width: 550px;
}
input[type="text"]{
    padding: 15px;
    margin-top: 10px;
    width: 100%;
    border: none;
    display: block;
    outline: none;
}
input[type="text"]:focus{
    background-color: aquamarine;
}
input[type="submit"]{
    margin-top: 20px;
    background-color: rgb(73, 122, 212);
    padding: 10px;
    border: none;
    border-radius: 10px;
    transition: all 0.7s ease;
    color: white;
}
input[type="submit"]:hover{
    background-color: blueviolet;
}